RAG&chatbot.json
{
  "name": "RAG&chatbot",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1zcpz52DkvANHJGVcn263BAoThC315aRa",
          "mode": "list",
          "cachedResultName": "FAQ",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1zcpz52DkvANHJGVcn263BAoThC315aRa"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        208
      ],
      "id": "dbc85634-e687-4d18-8afd-9c9c30baaa19",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "0ir7ml1IodAtpEAe",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        224,
        208
      ],
      "id": "a54327ab-31f6-4113-a2a6-8822e856df90",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "0ir7ml1IodAtpEAe",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8nfirst",
          "mode": "list",
          "cachedResultName": "n8nfirst"
        },
        "options": {
          "pineconeNamespace": "FAQ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        480,
        0
      ],
      "id": "2b93f9a4-0f06-4007-aed9-d981f370a2a0",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "HSXjxnquM4YHM8x3",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        448,
        224
      ],
      "id": "0f2c8957-d451-4a6a-b656-a3932a415a8a",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "zvAOkZJUYhRn8QAO",
          "name": "test_key_n8n"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        576,
        224
      ],
      "id": "879d6251-32f1-4c13-b90c-6a8d476f1bf2",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        656,
        432
      ],
      "id": "e5a9962d-6839-4968-8cbc-d38db8f9dc29",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1184,
        128
      ],
      "id": "a41c24a4-32e2-4fbe-bcb0-52bfd26c948f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        896,
        128
      ],
      "id": "127dc623-23e3-42a3-8fc5-df27ddee9b46",
      "name": "When chat message received",
      "webhookId": "9b1cc857-45a9-4cce-8f98-1e2245f93c63"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1040,
        384
      ],
      "id": "ee78e3c2-3f35-45a1-ad68-d6f6896916f0",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "zvAOkZJUYhRn8QAO",
          "name": "test_key_n8n"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "call this tool to access the resume vector database",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8nfirst",
          "mode": "list",
          "cachedResultName": "n8nfirst"
        },
        "options": {
          "pineconeNamespace": "FAQ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1376,
        384
      ],
      "id": "ec6b568a-d323-46a8-8bde-0ddf48364543",
      "name": "knowledgebase",
      "credentials": {
        "pineconeApi": {
          "id": "HSXjxnquM4YHM8x3",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1296,
        544
      ],
      "id": "a856ee77-3c29-403b-9f11-14069f5dd8c4",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "zvAOkZJUYhRn8QAO",
          "name": "test_key_n8n"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "knowledgebase": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "knowledgebase",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "0e6ebcc8-2e84-44f5-82ac-742c2a04dccc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1b5c8cd39fa76162d4db1e32e2df539a4978a54bf26ef5a074ef32c6d4ae6fa2"
  },
  "id": "K2dQPbmQGYYx5NQQ",
  "tags": []
}